<!DOCTYPE html>
<html>
<head>
	<title>All restaurants</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'bootstrap.min.css')}}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<a href="{{url_for('showLogin')}}">Login</a>

	<div class="container">
		
		<br>
		{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
	{% for message in messages %}
	  <li><strong>{{message}}</strong></li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	
		<h1>
			Restaurant catalog
		</h1>

		{% for restaurant in restaurants %}

		<div>

			<p>	
				
					
				<div class="restaurant_name" >
				<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a>
				</div>
				</p>



		</div>


		{% endfor %}

		

	</div>
</body>
</html>